<launch>

	<!-- ARGUMENTS -->
	<!-- see README.md for info -->

	<arg name="cam_device"  doc="Name of the image capture device"       default="/dev/video0"/>
	<arg name="grasp_state" default="/hand_gesture/grasp_state" />
	<arg name="image_raw"   default="/cv_camera/image_raw" />

	<arg name="sim"         doc="Lanch in simulation environment"        default="true"/>
	<arg name="world"       doc="The Gazebo world to use"                default="workcell.world"/>
	
	<arg name="controller"  doc="Controller to use with ros_control"     default="cartesian_pd_nullspace_controller"/>
	<!-- <arg name="controller"  doc="Controller to use with ros_control"     default="force_example_controller"/> -->

	<arg name="use_gripper" doc="Use the Franka gripper"                 default="true"/>
	<arg name="rviz"        doc="Launch RVIZ"                            default="false"/>

	<arg name="robot_ip"    doc="IP address of physical robot"           default=""/>

	<!-- ################################################################################################################# -->

    <!-- camera node -->
	<node pkg="cv_camera" type="cv_camera_node" name="cv_camera">
		<param name="device_path" value="$(arg cam_device)"/>
		<param name="rate" value="30.0" />
		<!-- <param name="frame_id" value="camera_video0" /> -->
	</node>

    <!-- gesture estimation node -->
    <node pkg="gesture_estimation" type="hand_gesture.py" name="hand_gesture" output="screen">
		<param name="topic_grasp_state" value="$(arg grasp_state)"/>
		<param name="topic_image_raw" value="$(arg image_raw)" />
		<!-- <param name="frame_id" value="camera_video0" /> -->
	</node>

	<!-- arm pose estimation -->
	<!-- ... -->

	<!-- teleop_grasp (system) node -->
	<node pkg="teleop_grasp" type="teleoperation" name="teleoperation"> 
		<param name="topic_grasp_state"     value="$(arg grasp_state)"/>
		<param name="topic_pose_hand"       value="/topic_pose_hand"/>
		<param name="topic_franka_pose_ee"  value="/$(arg controller)/command"/>
	</node>
	
	<!-- robot via franka_ros (hw/sim) -->
	<include file="$(find teleop_grasp)/launch/robot.launch">
		<arg name="sim" value="$(arg sim)"/>
		<arg name="controller" value="$(arg controller)"/>
		<arg name="use_gripper" value="$(arg use_gripper)"/>
	</include>

</launch>