<launch>

	<!-- ARGUMENTS -->
	<!-- see README.md for info -->

	<arg name="sim"         doc="Lanch in simulation environment"        default="true"/>
	<arg name="arm_id"      doc="Name of the panda robot to spawn"       default="panda"/>
	<arg name="world"       doc="The Gazebo world to use"                default="workcell.world"/>
	
	<arg name="controller"  doc="Controller to use with ros_control"     default="cartesian_pd_nullspace_controller"/>
	<arg name="use_gripper" doc="Use the Franka gripper"                 default="true"/>
	<arg name="rviz"        doc="Launch RVIZ"                            default="false"/>
	<arg name="rviz_marker" doc="Launch RVIZ with interactive marker."   default="$(arg rviz)"/>

	<arg name="robot_ip"    doc="IP address of physical robot"           default=""/>

	<!-- ################################################################################################################# -->

	<!-- load controller configurations -->
	<rosparam file="$(find franka_gazebo)/config/sim_controllers.yaml" subst_value="true" />
	<rosparam file="$(find franka_controllers)/config/franka_controllers.yaml" subst_value="true" />
	
	<!-- simulation -->
	<group if="$(arg sim)">

		<include file="$(find franka_gazebo)/launch/panda.launch">
			<arg name="gazebo" value="true"/>
			<arg name="arm_id" value="$(arg arm_id)"/>
			<arg name="world" value="$(arg world)"/>
			<arg name="use_gripper" value="$(arg use_gripper)"/>
			<arg name="controller" value="$(arg controller)"/>
			<arg name="rviz" value="$(arg rviz)"/>
		</include>
		
		<node if="$(arg rviz_marker)" name="interactive_marker" pkg="franka_example_controllers" type="interactive_marker.py">
			<param name="link_name" value="$(arg arm_id)_link0" />
			<remap to="franka_cartesian_impedance_controller/command" from="equilibrium_pose" />
		</node>

	</group>

	<!-- real hw -->
	<group unless="$(arg sim)">
	
		<include file="$(find franka_control)/launch/franka_control.launch" >
			<arg name="robot_ip" value="$(arg robot_ip)" />
			<arg name="load_gripper" value="$(arg use_gripper)" />
		</include>
		
		<node pkg="controller_manager"
		      type="spawner"
		      name="controller_spawner"
		      respawn="false" output="screen"
		      args="$(arg controller)"
		/>
		
		<node if="$(arg rviz)" pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/robot.rviz"/>
		<!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" /> -->

	</group>

</launch>