<launch>

	<!-- ARGUMENTS -->
	<!-- see README.md for info -->

	<!-- grasp estimation -->
	<!-- ... -->

	<!-- arm pose estimation -->
	<!-- ... -->

	<!-- teleop_grasp (system) node -->
	<rosparam file="$(find teleop_grasp)/config/teleop_grasp.yaml" />

	<node pkg="teleop_grasp" type="teleoperation" name="teleoperation">
	<!-- <node pkg="teleop_grasp" type="teleop_grasp" name="teleop_grasp"> -->
		<!-- <param name="device_path" value="$(arg cam_device)" />
		<param name="rate" value="30.0" />
		<param name="frame_id" value="camera_video0" /> -->
	</node>

</launch>